body {
    font-family:'Times New Roman', Times, serif;
}

li {
    font-family: inherit;
}

#assignment-instructions {
    color: #4ed1a5;
    font-family: sans-serif;
}

code {
    color: #ec5252;
    font-family: monospace;
}

.green-code code {
    color: green;
}

li + li {
    background-color: black;
    color: white;
}

ol li {
    background-color: black;
    color: white;
}